body {
    background-color: $darkGray;

    &.active {
        height: 100vh !important;
        overflow: hidden;
    }
}

a {
    text-decoration: underline;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.bg-white {
    color: $darkGray;
}

.bg-light-gray {
    color: $darkGray;
}

.password {
    -webkit-text-security: disc;
}

.container-fluid {
    padding: 0px;

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    @media only screen and (min-width: 1280px) {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.medium {
    font-size: 100% !important;
}

.well {
    //padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.panel-footer {
    h6 {

        @media only screen and (max-width: 767px) {
            .pull-right {
                margin-top: 5px;
                width: 100%;
                //float: left !important;
            }
        }

    }
}