footer {
    padding: 20px 15px 20px;
    background-color: #222;
    color: $white;

    h6 {
        margin-bottom: 0;

        @media only screen and (max-width: 767px) {
            span {
                display: block;
                margin-top: 10px;
            }
        }

    }

    // Override ul in main section
    ul {
        padding-left: 0;
    }
}