.form-group {
	margin-bottom: 10px;
	color: $darkGray;

	label {
		padding-top: 7px;
		color: $darkGray;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.addon-pound {
		transition: .4s all;
		border-right: $lightGray solid 3px !important;
		border-radius: 0 !important;
	}
}

.form-control {
	transition: .4s ease;
	border-radius: 0px !important;
	border: none;
	background-color: $white;
	box-shadow: none;

	&:focus {
		outline: none !important;
		box-shadow: none;
	}
}

.input-group {

	.form-control {

	}

	.input-group-addon {
		background-color: transparent !important;
		border: none;
	}
}