header#admin_menu-cont {
    float: left;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url("../img/bg-block.png") repeat top $darkGray;
    z-index: 50;
    //padding-bottom:86px;
    transition: .6s all;
    position: fixed;

    &.active {
        left: 0;
        opacity: 1;
    }

    @media only screen and (max-width: 767px) {
        //position: absolute;
        top: 0;
        left: -100vw;
        width: 100%;
        opacity: 0;
    }

    @media only screen and (min-width: 767px) {
        //position: absolute;
        top: 0;
        left: -300px;
        width: 300px;
        opacity: 0;
    }

    @media only screen and (min-width: 992px) {
        position: fixed;
        left: 0;
        width: 250px;
        opacity: 1;
    }

    @media only screen and (min-width: 1200px) {
        position: fixed;
        left: 0;
        width: 250px;
        opacity: 1;
    }

    #admin_menu-topbar {
        height: 60px;

        background-color: #222;
        position: fixed;
        top: 0;
        float: left;
        padding: 10px 25px;
        text-align: left;
        z-index: 99;

        @media only screen and (max-width: 767px) {
            text-align: center;
            width: 100%;
        }

        @media only screen and (min-width: 767px) {
            width: 300px;
        }

        @media only screen and (min-width: 992px) {
            width: 250px;
        }

        @media only screen and (min-width: 1200px) {
            width: 250px;
        }

        img {
            float: left;

            @media only screen and (max-width: 767px) {
                float: none;
            }

            @media only screen and (min-width: 767px) {
                float: left;
                padding-left: 30px;
            }

            @media only screen and (min-width: 992px) {
                float: left;
                padding-left: 0;
            }

            @media only screen and (min-width: 1200px) {
                float: left;
                padding-left: 0;
            }
        }

        h2 {
            font-size: 16px;
            color: white;
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
        }

        span {
            font-size: 16px;

            color: $white;
            margin-top: 11px;

            @media only screen and (max-width: 767px) {
                float: none;
            }

            @media only screen and (min-width: 767px) {
                float: left;
            }

            @media only screen and (min-width: 992px) {
                float: left;
            }

            @media only screen and (min-width: 1200px) {
                float: left;
            }
        }
    }

    #admin_menu-inner {
        width: 100%;
        min-height: 10px;
        float: left;
        position: relative;
        padding-top: 60px;

        #admin_menu-profile {
            width: 100%;
            padding: 20px 25px;
            border-bottom: 3px solid #222;
            //border-bottom: 3px solid $beige;
            //margin-bottom: 10px;

            h5 {
                margin-bottom: 0;

                img {
                    float: left;
                    clear: both;
                }

                span {
                    float: left;
                    display: inline-block;
                    width: 150px;
                    height: 30px;
                    padding-top: 3px;

                    //padding-left:30px;

                    span {
                        display: block;
                        float: left;
                        color: #999;
                        margin-top: 2px;
                        width: 100%;
                    }
                }
            }

        }

        #admin_menu {
            width: 100%;

            ul {
                padding-left: 0;
                list-style-type: none;
                width: 100%;

                li {
                    width: 100%;
                    color: white;
                    border-left: 10px solid transparent;
                    margin-top: 2px;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 8px 15px;
                        color: white;
                        text-decoration: none;

                        .badge {
                            margin-top: 3px;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        border-left-color: $blue;
                        background-color: $darkGray;
                    }

                    &.active {
                        border-left-color: $blue;
                        background-color: $darkGray;
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}