main {
    width: 100%;
    //padding-bottom:56px;
    //height: 100vh;
    background-color: $darkGray;
    position: relative;
    overflow: hidden;
    color: $white;

    @media only screen and (max-width: 767px) {
        padding-left: 0;
    }

    @media only screen and (min-width: 767px) {
        padding-left: 0;
    }

    @media only screen and (min-width: 992px) {
        padding-left: 250px;
    }

    @media only screen and (min-width: 1200px) {
        padding-left: 250px;
    }

    #admin_header {
        height: 60px;
        background: url("../img/bg-block.png") repeat top $darkGray;
        position: relative;

        h2 {
            font-size: 24px;
            width: 50%;
            position: absolute;
            left: 0px;
            top: 50%;
            padding: 0 10px 0 0;
            transform: translateY(-50%);
            color: $white;
            font-weight: 500;
            margin-top: 0;

            @media only screen and (max-width: 767px) {
                width: 250px;
                left: 50px;
            }

            @media only screen and (min-width: 767px) {
                //width: 100%;
                left: 50px;
            }

            @media only screen and (min-width: 992px) {
                left: 30px;
            }

            @media only screen and (min-width: 1200px) {
                left: 30px;
            }

        }

        span {
            position: relative;
            right: 30px;
            transform: translateY(-50%);
            font-weight: bold;
            margin-top: 0;

            @media only screen and (max-width: 767px) {
                display: none;
                top: 50%;
            }

            @media only screen and (min-width: 767px) {
                display: block;
                top: 50%;
            }

            @media only screen and (min-width: 992px) {
                display: block;
                top: 50%;
            }

            @media only screen and (min-width: 1200px) {
                display: block;
                top: 50%;
            }
        }
    }

    #action_panel {
        //height: 60px;
        height: auto;
        background-color: $blue;
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 0;

        h3, h4, h5 {
            color: $darkGray;
            //position: absolute;
            font-weight: bold;
            //top: 50%;
            //transform: translateY(-50%);
            width: 100%;
            //font-size:14px;
            margin-bottom: 0;
        }

        h3 {
            font-size: 18px;
        }

        .btn {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }

        .label {
            //margin-right: 30px;
        }

        @media only screen and (max-width: 767px) {
            height:auto;
            padding-top: 10px;
            padding-bottom: 10px;

            h3, h4, h5 {
                display: block;
                position: relative;
                top: auto;
                transform: none;
                float: left;
                clear: both;
                padding-left: 0px;
                //margin-top: 10px;
                margin-bottom: 0px;
                width: 100%;
                //text-align: center;
            }

            .btn {
                display: block;
                position: relative;
                top: auto;
                //left: 15px;
                right:auto;
                transform: none;
                float: left;
                margin-top: 10px;
                width: 100%;
            }

            input {
                display: block;
                width: 100%;
            }
        }

        @media only screen and (min-width: 767px) {

        }

        @media only screen and (min-width: 992px) {

        }

        @media only screen and (min-width: 1200px) {

        }
    }

    section {
        padding: 30px 15px;

        h3 {
            font-size: 18px;
        }
    }
}

.pagination {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px;
    border: none;

    li {
        font-size: 12px;

        a {
            padding: 4px 12px;
            color: $darkGray;

            &:first-child {
                border-radius: 0px !important;

                span {
                    border-radius: 0px !important;
                }
            }
        }

        &.active {

            span {
                padding: 4px 12px;
                background-color: $blue;
                border-color: $blue;
                color: $darkGray;
                font-weight: bold;

                &:hover {
                    background-color: $blue;
                    border-color: $blue;
                    color: $darkGray;
                }
            }

        }

        &.disabled {
            span {
                padding: 4px 12px;
                border-radius: 0px !important;

            }
        }

        &:last-child {
            border-radius: 0px !important;

            span {
                border-radius: 0px !important;
            }

        }
    }
}