// Nav Toggle
#menu-toggle {
    width: 30px;
    //height:30px;
    position: absolute;
    z-index: 999999;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    cursor: pointer;
    transition: .8s;
    display:block;

    &.active {
        left: 0px;
    }

    span.icon-bar {
        height: 2px;
        width: 100%;
        background-color: #fff;
        float: left;
        position: relative;
        left: 0;
        margin-bottom: 6px;
        display: block !important;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}