.service_post {
	height: 380px;
	position: relative;
	margin-bottom: 30px;

	.service_post-container {
		position: relative;
		margin: 0;
		float: left;
		width: 100%;
		height: 100%;
		background-color: $lightGray;
		//padding: 15px;
		border-radius: 4px;
		overflow: hidden;

		& > div {
			width: 100%;
			float: left;
		}

		.service_post-header {
			width: 100%;
			position: relative;
			float: left;
			height: 180px;
			overflow: hidden;
			padding: 15px 15px 0;

			* {
				z-index: 3;
			}

			img {
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 200%;
				transform: translate(-50%, -50%);
				transition: .4s all;
			}

			.image-overlay {
				background-color: rgba($darkGray, .6);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			h3 {
				position: relative;
				margin-top: 0;
				line-height: 1;
				color: $white;
				font-weight: bold;

				span {
					margin-top: 10px;
					float: left;
					z-index: 2;
					color: white;
					font-weight: bold;
				}
			}

			p {
				position: absolute;
				top: auto;
				bottom: 30px;
				color: white;
				margin-bottom: 0;

				&.pull-right {
					right: 15px;
				}
			}

			.owl-carousel {
				position: absolute;
				top: auto;
				left: 0;
				bottom:10px;

				.owl-stage-outer {
					width: 85%;
					margin:auto;
					margin-left: 15px;
					position: relative;
					overflow: hidden;

					.item {
						//text-align: center;

						span {
							width: 100%;
							display: block;
						}
					}
				}

			}

			.owl-nav {
				margin:0;

				&.disabled {
					display: block;
				}

				.owl-prev, .owl-next {
					top: -2px;
					background-color: transparent;
					color:white;

					&.disabled {
						background-color: transparent !important;
					}
				}

				.owl-prev {
					left: 15px;
					position: absolute;
					display: none;
				}

				.owl-next {
					right: 15px;
					position: absolute;
				}

			}

			.owl-dots {
				display: none;
			}

			&:hover {
				img {
					width: 250%;
				}
			}
		}

		.service_post-body {
			padding: 15px 15px 0;

			p {
				font-size: 15px;
			}

			hr {
				border-color: $darkGray;
				margin-top: 0px;
				margin-bottom: 10px;
				border-style: dotted;
			}

			.excerpt {
				font-size: 14px;
				margin-bottom: 0px;
			}
		}

		.service_post-footer {
			position: absolute;
			top: auto;
			bottom: 0;
			padding: 0px 15px 18px;

			p {
				margin-bottom: 5px;
			}
		}
	}

}