.panel {
  border:none;
  border-radius:0px !important;

  .table-responsive {
    table {
      color: $darkGray;

      thead {
        background: $blue;
        color:$darkGray;
        border-bottom:$bw solid $darkGray;

        th {
          border-radius: 0px !important;
          border:$bw $darkGray solid;
          padding:10px 15px;
        }
      }

      tbody {
        tr {
          &:first-child {
            td {
              border-top:none;
            }
          }

          &:last-child {

          }

          td {
            border:1px $darkGray solid;
            border-left:2px $darkGray solid;
            border-right:2px $darkGray solid;
            padding:10px 15px;

            &:first-child {
              a {
                color:$darkGray;
                text-decoration: underline;
                font-weight: bold;
                text-transform: capitalize;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}