* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: $fontDefault;
	margin: 0px !important;
	position: relative;
	color: $darkGray;

	&.active {
		max-height: 100vh;
		overflow: hidden;
	}
}

a {
	color:$darkGray;
	text-decoration: underline;
	cursor: pointer;
	
	&:hover {
		color:$darkGray;
		text-decoration: none;
	}
}