// Start of Overrides
.ie8-hide {
	display: block;
}

.ie8 {
	display: none;
}

img {
	border: 0;
	margin: auto;
	padding: 0;
	vertical-align: middle;
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	//color: $darkGray !important;
	text-transform: none !important;
}

::-moz-placeholder { /* Firefox 19+ */
	//color: $darkGray !important;
	text-transform: none !important;
}

:-ms-input-placeholder { /* IE 10+ */
	//color: $darkGray !important;
	text-transform: none !important;
}

:-moz-placeholder { /* Firefox 18- */
	//color: $darkGray !important;
	text-transform: none !important;
}

// Boostrap Overrides
.container-fluid {
	padding: 0px;

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	@media only screen and (min-width: 1280px) {
		max-width: 1600px;
		margin-right: auto;
		margin-left: auto;
	}
}

.well {
	border-radius: 0px !important;
	border: none;
	box-shadow: none;
}

.panel {
	border-radius: 0px !important;
	//border:0px !important;
	box-sizing: border-box !important;
}

.disabled {
	background-color: #eee !important;
	cursor: not-allowed;
	user-select: none !important;
}

.progress-bar {
	box-shadow: none;
}

// HR Overrides
.hr-100 {
	width: 100px;
	margin: auto;
}

.hr-150 {
	width: 150px;
	margin: auto;
}

// Padding Overrides
.no-padding, .npadding {
	padding: 0px !important;
}

.no-padding-left, .npleft {
	padding-left: 0px !important;
}

.no-padding-right, .npright {
	padding-right: 0px !important;
}

.no-padding-top, .nptop {
	padding-top: 0px !important;
}

.no-padding-bottom, .npbottom {
	padding-bottom: 0px !important;
}

.padding-xs {
	padding: 20px 0;
}

.padding-sm {
	padding: 50px 0;
}

.padding-md {
	padding: 80px 0;
}

.padding-lg {
	padding: 100px 0;
}

.pt-5 {
	padding-top: 5px !important;
}

.pt-10 {
	padding-top: 10px !important;
}

.pt-15 {
	padding-top: 15px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.pt-30 {
	padding-top: 30px !important;
}

.pt-40 {
	padding-top: 40px !important;
}

.pt-50 {
	padding-top: 50px !important;
}

.pt-60 {
	padding-top: 60px !important;
}

.pt-70 {
	padding-top: 70px !important;
}

.pt-80 {
	padding-top: 80px !important;
}

.pt-90 {
	padding-top: 90px !important;
}

.pt-100 {
	padding-top: 100px !important;
}

.pl-5 {
	padding-left: 5px !important;
}

.pl-10 {
	padding-left: 10px !important;
}

.pl-15 {
	padding-left: 15px !important;
}

.pl-20 {
	padding-left: 20px !important;
}

.pl-25 {
	padding-left: 25px !important;
}

.pl-30 {
	padding-left: 30px !important;
}

.pl-40 {
	padding-left: 40px !important;
}

.pl-50 {
	padding-left: 50px !important;
}

.pl-60 {
	padding-left: 60px !important;
}

.pl-70 {
	padding-left: 70px !important;
}

.pl-80 {
	padding-left: 80px !important;
}

.pl-90 {
	padding-left: 90px !important;
}

.pl-100 {
	padding-left: 100px !important;
}

.pr-5 {
	padding-right: 5px !important;
}

.pr-10 {
	padding-right: 10px !important;
}

.pr-15 {
	padding-right: 15px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.pr-25 {
	padding-right: 25px !important;
}

.pr-30 {
	padding-right: 30px !important;
}

.pr-40 {
	padding-right: 40px !important;
}

.pr-50 {
	padding-right: 50px !important;
}

.pr-60 {
	padding-right: 60px !important;
}

.pr-70 {
	padding-right: 70px !important;
}

.pr-80 {
	padding-right: 80px !important;
}

.pr-90 {
	padding-right: 90px !important;
}

.pr-100 {
	padding-right: 100px !important;
}

.pb-5 {
	padding-bottom: 5px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}

.pb-15 {
	padding-bottom: 15px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pb-40 {
	padding-bottom: 40px !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.pb-60 {
	padding-bottom: 60px !important;
}

.pb-70 {
	padding-bottom: 70px !important;
}

.pb-80 {
	padding-bottom: 80px !important;
}

.pb-90 {
	padding-bottom: 90px !important;
}

.pb-100 {
	padding-bottom: 100px !important;
}

// Margin Overrides
.no-margin, .nmargin {
	margin: 0px !important;
}

.no-margin-left, .nmleft {
	margin-left: 0px !important;
}

.no-margin-right, .nmright {
	margin-right: 0px !important;
}

.no-margin-top, .nmtop {
	margin-top: 0px !important;
}

.no-margin-bottom, .nmbottom {
	margin-bottom: 0px !important;
}

.mt-5 {
	margin-top: 5px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.mt-50 {
	margin-top: 50px !important;
}

.mt-60 {
	margin-top: 60px !important;
}

.mt-70 {
	margin-top: 70px !important;
}

.mt-80 {
	margin-top: 80px !important;
}

.mt-90 {
	margin-top: 90px !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-20 {
	margin-left: 20px !important;
}

.ml-30 {
	margin-left: 30px !important;
}

.ml-40 {
	margin-left: 40px !important;
}

.ml-50 {
	margin-left: 50px !important;
}

.ml-60 {
	margin-left: 60px !important;
}

.ml-70 {
	margin-left: 70px !important;
}

.ml-80 {
	margin-left: 80px !important;
}

.ml-90 {
	margin-left: 90px !important;
}

.ml-100 {
	margin-left: 100px !important;
}

.mr-5 {
	margin-right: 5px !important;
}

.mr-10 {
	margin-right: 10px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.mr-30 {
	margin-right: 30px !important;
}

.mr-40 {
	margin-right: 40px !important;
}

.mr-50 {
	margin-right: 50px !important;
}

.mr-60 {
	margin-right: 60px !important;
}

.mr-70 {
	margin-right: 70px !important;
}

.mr-80 {
	margin-right: 80px !important;
}

.mr-90 {
	margin-right: 90px !important;
}

.mr-100 {
	margin-right: 100px !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-60 {
	margin-bottom: 60px !important;
}

.mb-70 {
	margin-bottom: 70px !important;
}

.mb-80 {
	margin-bottom: 80px !important;
}

.mb-90 {
	margin-bottom: 90px !important;
}

.mb-100 {
	margin-bottom: 100px !important;
}

// Border Overrides
.no-border, .nborder {
	border: none !important;
}

.no-border-bottom, .nbbottom {
	border-bottom: 0px !important;
}

.no-border-top, .nbtop {
	border-top: 0px !important;
}

.no-border-left, .nbleft {
	border-left: 0px !important;
}

.no-border-right, .nbright {
	border-right: 0px !important;
}

.bw-2 {
	border-width: 2px;
}

// Border Radius Overrides
.no-border-radius, .nb-radius {
	border-radius: 0px !important;
}

// Text Overrides
.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-underline {
	text-decoration: underline;
}

.text-thin {
	font-weight: lighter;
}

.text-bold {
	font-weight: bold;
}

.text-normal {
	font-weight: normal;
}

.text-italic {
	font-style: italic;
}

.medium {
	font-size: 90% !important;
}

// Width Overrides

.w-70 {
	width: 70%;
}

// Overflow Overrides
.o-hidden {
	overflow: hidden;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}