// Typography Styles
p, ul li, ol li, address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height:1.2;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 42px;
    font-weight: 200;
    line-height:1.2;
}

h2 {
    font-size: 34px;
    font-weight: 200;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 14px;
    font-weight: 400;
}

h6 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

// Mobile Text Overrides
@media only screen and (max-width: 767px) {
    .xs-text-center {
        text-align: center;
    }
}

@media only screen and (min-width: 767px) {
    .sm-text-center {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .md-text-center {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .lg-text-center {
        text-align: center;
    }
}
