/* Fonts */
$fontDefault: "DejaVu Sans", "URW Gothic L", "Helvetica", Helvetica Neue, Arial, "Microsoft Sans Serif", sans-serif;

/* Colors */
$white: white;
$black: black;
$lightGray: #eee;
$darkGray: #4b4b4b;
$blue: #7fe2d8;
$midBlue: #4b9a92;

$beige: #e2d9c2;
$midBeige: #40413c;


/* Admin Colors */
//$lightBlue: #354d5b;
//$midBlue: #283a47;
//$darkBlue: #23333e;

$teal: #5db7a3;
$darkTeal: #429a86;

$lightBlue: #4297ba;
$darkBlue:#3d92b6;

/* Border Vars */
$bw: 2px;

