#signup-hero {
    padding: 50px 0;
    background-image: url("../img/bg-supplier-signup.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center bottom;

    h2 {
        margin-bottom:0;
        text-align: center;
        color:white;
        //font-weight: 500;
        line-height: 1;
    }

    hr {
        width: 200px;
        position: relative;
        margin: 10px auto 40px;
        border-width: 3px;
    }

    form {
        .form-group {
            margin-bottom: 4px;

            &.bg-white {

            }

            .small-print {
                margin-top: 20px;
                color:white;
                font-size: 12px;
                text-align: center;

                a {
                    color:$darkGray;
                    text-decoration: underline;
                    
                    &:hover {
                        color:$darkGray;
                        text-decoration: none;
                    }
                }
            }

            .radio-wrap {
                position: relative;
                width: 70px;
                float: left;
                padding: 10px 5px 10px;

                &:first-child {
                    margin-right: 40px;
                }

                .radio-label {
                    position: relative;
                    float: right;
                }
                
                input {
                    float: left;
                    margin-top: 0;
                }
            }


        }

        input {


            &.form-control {
                border-radius: 0px;
                height:auto;
                padding: 10px 10px;
                box-shadow: none !important;
            }

            &[type=radio] {
                appearance:none;
                width: 20px;
                height: 20px;
                border:2px solid $beige;

                &:checked {
                    background-color: $beige;
                }
            }
        }

        input[type=number]::-webkit-inner-spin-button {
            opacity: 1;
        }

        label {
            font-weight:normal;
            color: $darkGray;
            font-size: 16px;
        }

        .select2-container--above {
            border-bottom:none !important;
        }

        .select2-container--default .select2-selection--multiple {
            border:none;
            border-radius: 0px;
            border-bottom:1px solid $darkGray;
            color:$darkGray !important;
            height: 108px;

            .select2-selection__rendered {
                padding: 0px;
                font-size:16px;

                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $darkGray !important;
                    font-size:12px;
                    //padding-left: 10px;
                }
                ::-moz-placeholder { /* Firefox 19+ */
                    color: $darkGray !important;
                    font-size:12px;
                    //padding-left: 10px;
                }
                :-ms-input-placeholder { /* IE 10+ */
                    color: $darkGray !important;
                    font-size:12px;
                    //padding-left: 10px;
                }
                :-moz-placeholder { /* Firefox 18- */
                    color: $darkGray !important;
                    font-size:12px;
                    //padding-left: 10px;
                }
            }
        }

        .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
            border:none;

            .select2-selection__rendered {
                padding:0 10px !important;

                .select2-selection__choice {
                    margin-right: 10px;
                    margin-top: 10px;
                    border:none;
                    background-color: $beige;
                    padding: 3px 8px;
                    text-transform: lowercase;
                    font-size: 14px;

                    span {
                        color:white;
                        font-size: 20px;
                        line-height:1;
                        margin-right: 5px;
                    }
                }

                .select2-search {
                    margin-top: 6px;
                }
            }
        }


    }

    .progress {
        margin-top: 50px;
        position: relative;
        border-radius: 0;
        box-shadow: none !important;
        overflow: visible;
        background-color: white !important;

        .step-1, .step-2, .step-3, .step-4 {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            padding-top: 4px;
            border-radius: 50%;
            font-size:28px;
            font-weight: bold;
            color:white;

            &.active {
                background-color: $blue;
                color:white;
            }
        }

        .step-1 {
            left: -2px;
        }

        .step-2 {
            left: 31%;
        }

        .step-3 {
            left: 65%;
        }

        .step-4 {
            right: -2px;
            padding-top: 4px;

            i {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:2px solid white;
                padding-top: 3px;
                font-weight:normal;
            }
        }
    }
}

#signup-stage-2 {
    .row {
        >div {
            padding:0 2px;
        }
    }
}

#stage-complete {
    padding:40px 15px;
    border:2px solid white;
    color:white;

    i {
        font-size: 40px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border:4px solid white;
        padding-top:12px;

        &.fa-times {
            padding-top: 10px;
        }
    }

    h1 {
        margin-top: 20px !important;
    }

    p {
        margin-top: 20px;
        //margin-bottom: 0;
    }
}

