// Supplier Nav Menu
.nav-pills {
	li {
		a {
			text-decoration: none;
			background-color: transparent;
			padding: 5px 0;

			&:hover {
				background-color: transparent;
				text-decoration: underline;
			}
		}

		&.active {
			a {
				color: $blue;
				font-weight: bold;
				background-color: transparent;

				&:hover {
					background-color: transparent;
					color: $blue;
					text-decoration: none;
				}
			}
		}
	}
}

.img-wrap {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin:auto;

	@media only screen and (max-width: 767px) {
		width: 250px;
		height: 250px;
	}

	@media only screen and (min-width: 767px) {
		width: 200px;
		height: 200px;
	}

	@media only screen and (min-width: 992px) {
		width: 250px;
		height: 250px;
	}

	@media only screen and (min-width: 1200px) {
		width: 220px;
		height: 220px;
	}

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

hr.supplier-hr {
	width: 120px;
	border-width:2px;
	border-color: $blue;
	margin-top: 10px;
	margin-bottom: 40px;
}

#navbar-form {
	transition: .4s all;

	&.fade {
		opacity:0;
	}
}

.appointment {
	border:1px $darkGray solid;
	position: relative;
	padding: 15px;
	margin-bottom: 30px;

	&.disabled {
		margin-top: 40px;

		&:before {
			content: 'This appointment has been canceled please get in touch with info@pamperhub.com for further information.';
			color:red;
			position: absolute;
			top: -25px;
			left: 0;
		}
	}

	i.fa-map, i.fa-map-o {
		display: none;
	}

	a {
		color: $darkGray;
		text-decoration: none;
		font-style: italic;
		font-size: 90%;

		&:hover {
			text-decoration: underline;
		}
	}

	.appointment-meta {
		position: absolute;
		top:auto;
		bottom: 0px;
		right: 0px;

		//background-color: $darkGray;
		//color:$lightGray;

		font-weight: bold;
		//min-width: 80px;

		a {
			display: block;
			background-color: $lightGray;
			font-style: normal;
			padding: 8px 10px;

			&:hover {
				text-decoration: none;
				background-color: $darkGray;
				color:$white;
			}
		}
	}

	.appointment-status {
		width: 110px;
		padding:5px 0;
		font-size:14px;
		position: absolute;
		top: auto;
		right: 0;
		bottom:0;
		font-weight:bold;
		text-align: center;
	}

	.appointment-date {
		width: 80px;
		height: 80px;
		background-color: $blue;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;

		span {
			position: absolute;
			color:$white;
			font-weight: bold;


			&.day {
				top: 10px;
				left: 50%;
				width: 100%;
				transform: translateX(-50%);
				font-size:16px;
				text-transform: uppercase;
			}

			&.month {
				top: auto;
				bottom: 5px;
				left: 50%;
				transform: translateX(-50%);
				font-size:19px;
			}
		}

		hr {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			border:solid $white 1px;
			transform:translate(-50%,-50%);
			margin: 0;
		}
	}
}

.pagination {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0px;
	border: none;

	li {
		font-size: 12px;

		a {
			padding: 4px 12px;
			color: $darkGray;

			&:first-child {
				border-radius: 0px !important;

				span {
					border-radius: 0px !important;
				}
			}
		}

		&.active {

			span {
				padding: 4px 12px;
				background-color: $blue;
				border-color: $blue;
				color: $darkGray;
				font-weight: bold;

				&:hover {
					background-color: $blue;
					border-color: $blue;
					color: $darkGray;
				}
			}

		}

		&.disabled {
			span {
				padding: 4px 12px;
				border-radius: 0px !important;

			}
		}

		&:last-child {
			border-radius: 0px !important;

			span {
				border-radius: 0px !important;
			}

		}
	}
}