.bg-list-your-business {
	background: url('../img/bg-list-your-business.jpg') top center no-repeat;
	background-size: cover;
}

.bg-diamonds {
	background-color: $darkGray;
	background: url("../img/bg-block.png") repeat $darkGray top;
}