/* Button Colors --- This section will change depending on the site color scheme */

.btn-blue {
    color: $darkGray;
    font-weight: bold;
    background: $blue;
    box-shadow: 0px 4px 0px 0px $midBlue;
    transition: 0s !important;

    &:hover {
        background: rgba($blue, .8);
        box-shadow: 0 4px 0 0 $midBlue;

        &:active {
            border: none;
            bottom: -4px;
            margin-bottom: 2px;
            box-shadow: 0;
        }
    }
}

.btn-beige {
    color: $darkGray;
    font-weight: bold;
    background: $beige;
    box-shadow: 0px 4px 0px 0px $midBeige;
    transition: 0s !important;

    &:hover {
        background: rgba($beige, .8);
        box-shadow: 0 4px 0 0 $midBeige;

        &:active {
            border: none;
            bottom: -4px;
            margin-bottom: 2px;
            box-shadow: 0;
        }
    }
}

.btn-red {
    background-color: red;
    color: $white;
    border: 2px solid red;
    font-weight: bold;

    &:hover, &:focus, &:active {
        background-color: rgba(red, .5);
        color: $white;
    }
}

.btn-dark-gray {
    background-color: $darkGray;
    color: $white;
    border: 2px solid $darkGray;
    font-weight: bold;

    &:hover, &:focus, &:active {
        background-color: rgba($darkGray, .5);
        color: $white;
    }
}

.btn-white {
    background-color: $white;
    color: $darkGray;
    border: 2px solid $white;
    font-weight: bold;

    &:hover, &:focus, &:active {
        background-color: rgba($white, .7);
        color: $darkGray;
    }
}

.btn-teal {
    background-color: $teal;
    color: $darkGray;
    border: 2px solid $teal;
    font-weight: bold;

    &:hover, &:focus, &:active {
        background-color: transparent;
        color: $teal;
    }
}

.btn-blank {
    background-color: transparent;
    font-weight: bold;
    color:white;
    padding: 0 !important;

    &:hover, &:focus, &:active {
        color: $white;
        text-decoration: underline;
    }
}

.btn-blue-round {
    background-color: $blue;
    color:white;
    font-weight: bold;
    border-radius: 40px !important;
    line-height:1;
    padding: 7px 25px 9px !important;

    &:hover {
        background-color: $white;
    }
}

.btn-beige-plain {
    background-color: $beige;
}


/* Button Sizes --- Adjust if Needed */
.btn {
    border-radius: 4px;
    transition: .4s ease-in-out;
}

a.btn, button.btn {
    text-decoration: none;
}

.btn-xs {
    padding: 4px 8px;
    font-size: 10px;
}

.btn-sm {
    padding: 2px 10px;
    font-size: 14px;
}

.btn-md {
    padding: 5px 20px;
    font-size: 14px;
}

.btn-lg {
    padding: 8px 30px;
    font-size: 16px;
}

.btn-clear {
    padding:0 !important;
}