// Text Colours
.text-black {
	color: $black !important;
}

.text-white {
	color: $white !important;
}

.text-light-gray {
	color: $lightGray !important;
}

.text-dark-gray {
	color: $darkGray !important;
}

.text-red {
	color: red !important;
}

.text-blue {
	color: $blue !important;
}

// Background Colours
.bg-white {
	background-color: $white !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-light-gray {
	background-color: $lightGray !important;
}

.bg-beige {
	background-color: $beige !important;
}

.bg-blue {
	background-color: $blue !important;
}

.bg-teal {
	background-color: $teal !important;
}

.bg-danger {
	background-color: #f2dede !important;
}

.bg-success {
	background-color: #dff0d8 !important;
}

.bg-dark-teal {
	background-color: $darkTeal !important;
}

.bg-light-blue {
	background-color: $lightBlue !important;
}

.bg-dark-blue {
	background-color: $darkBlue !important;
}

.bg-dark-gray {
	background-color: $darkGray !important;
}

.bg-dark-green {
	background-color: #3b9e3b !important;
}

.bg-dark-red {
	background-color: #ff3f4d !important;
}

.bg-transparent {
	background-color: transparent !important;
}

// Label Sizes and Colours
.label-xs {
	font-size: 10px !important;
}

.label-sm {
	font-size: 12px !important;
}

.label-md {
	font-size: 14px !important;
}

.label-lg {
	font-size: 16px !important;
}

.label-beige {
	background-color: $beige !important;
	color: $darkGray !important;
}

// Border Colours
.bc-white {
	border-color: $white !important;
}

.bc-blue {
	border-color: $blue !important;
}

.bc-beige {
	border-color: $beige !important;
}

.bc-dark-gray {
	border-color: $darkGray !important;
}

// Border Top Colours
.bt1-dark-gray {
	border-top: 0px solid $darkGray;
}

.bt-dark-gray {
	border-top: $bw solid $darkGray;
}

// Border Bottom Colours
.bb-beige {
	border-bottom: $bw solid $beige;
}