.form-group {
	margin-bottom: 10px;

	label {
		padding-top: 7px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.addon-pound {
		transition: .4s all;
		border-right:$lightGray solid 3px !important;
		//border-radius: 0 !important;
	}
}

.form-control {
	border-radius: 4px;
	border: none;
	transition: .4s ease-in-out;
	box-shadow: none;

	&:focus {
		outline: none !important;
		box-shadow: none;
	}
}

.input-group {

	.form-control {

	}

	.input-group-addon {
		//background-color: transparent !important;
		background-color: #fff;
		border: none;
	}
}

// Select 2 Overrides
.select2-container--default .select2-selection--single {
	border: none !important;
	border-radius: 4px !important;
	height: 34px !important;
	padding-top: 3px !important;

}

.select2-selection__arrow {
	top: 4px !important;
}

.select2-dropdown {
	border-radius: 0 !important;
	//border: none !important;
	border-color: $lightGray !important;
	box-shadow: none !important;
	background-color: white !important;
}

.select2-container--default .select2-selection--multiple {
	//border: none !important;
	border-color: $lightGray !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	//border: none !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
	//border:none;

	.select2-selection__rendered {
		padding:0 10px !important;

		.select2-selection__choice {
			margin-right: 10px;
			margin-top: 6px;
			border:none;
			background-color: $beige;
			padding: 3px 8px;
			text-transform: lowercase;
			font-size: 14px;

			span {
				color:white;
				font-size: 20px;
				line-height:1;
				margin-right: 5px;
			}
		}

		.select2-search {
			margin-top: 6px;
		}
	}
}