.alert_messages, .error_messages {
	border-radius: 0px !important;

	.alert {
		border-radius: 0px !important;
		border:none;
	}

	h3 {
		font-size:16px;
	}

	ul {
		padding-left: 20px;

		li {
			font-size:14px;
			list-style-type:square;
		}
	}
}