// Parallax Styles
.parallax-window {
	width:100%;
  height: 400px;
  position: relative;
	overflow: hidden;

	.parallax-content {
	  position:absolute;
	  top: 50%;
	  left: 50%;
	  transform:translate(-50%,-50%);
  }

	.parallax-overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

.parallax-sm {
	height: 350px;
	@media only screen and (max-width: 767px) {
		height: 250px;
	}
}

.parallax-md {
	height:450px;
	@media only screen and (max-width: 767px) {
		height: 350px;
	}
}

.parallax-lg {
	height: 500px;
	@media only screen and (max-width: 767px) {
		height: 400px;
	}
}

/* Parallax Backgrounds */
