input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 10px 0 0px !important;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  float: left;
  width: 100%;

  li {
    font-size:14px;
    color:#B94A48;
    padding-top: 0px;
    line-height:1.3;
  }
}

.parsley-errors-list.filled {
  opacity: 1;
}
