.about-module-contiainer {
	padding: 0;
	//border-bottom:$darkGray solid 1px;

	.about-module-image, .about-module {
		float: left;
		position: relative;
		overflow: hidden;

		@media only screen and (max-width: 767px) {
			height: 400px;
			width: 100%;
		}

		@media only screen and (min-width: 767px) {
			height: 400px;
			width: 100%;
		}

		@media only screen and (min-width: 992px) {
			height: 400px;
			width: 50%;
		}

		@media only screen and (min-width: 1200px) {
			height: 400px;
			width: 50%;
		}
	}

	.about-module-image {

		padding: 0;

		@media only screen and (max-width: 767px) {
			height: auto;
		}

		img {

			@media only screen and (max-width: 767px) {
				position: relative;
				width: 100%;
				height: auto;
			}

			@media only screen and (min-width: 767px) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				height: auto;
			}

			@media only screen and (min-width: 992px) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: auto;
				height: 100%;
			}

			@media only screen and (min-width: 1200px) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: auto;
				height: 110%;
			}
		}
	}

	.about-module {
		background-color: $lightGray;

		&:nth-of-type(odd) {
			background-color: white;
		}
		//
		//@media only screen and (max-width: 767px) {
		//	float: right;
		//}
		//
		//@media only screen and (min-width: 767px) {
		//	float: right;
		//}
		//
		//@media only screen and (min-width: 992px) {
		//	float: left;
		//}
		//
		//@media only screen and (min-width: 1200px) {
		//	float: left;
		//}

		.about-module-content {
			width: 100%;
			padding:0 60px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			@media only screen and (max-width: 767px) {
				padding:0 15px;
			}
		}

	}
}