#booking {

    h4 {
        font-size:18px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        //border:none;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px !important;
    }

    input {
        &[type=text] {
            background-color: $lightGray;
        }
    }

    textarea {
        background-color: $lightGray;
    }

    hr {
        border-width: 2px;
        width: 80px;
        margin-left: 0;
    }

    .service_post {
        height: auto !important;

        .service_post-container {
            border-radius: 0;
            overflow: visible;



            .service_post-body {
                padding-bottom: 20px;
            }

        }

    }

    #total-box {
        border-bottom: 5px $blue solid;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #999 !important;
        text-transform: none !important;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: #999 !important;
        text-transform: none !important;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: #999 !important;
        text-transform: none !important;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #999 !important;
        text-transform: none !important;
    }

}