.help-block {
	position: relative;
	margin-bottom: 30px;
	
	.help-question {
		font-weight: bold;
		font-size: 18px;
		display: block;
		background-color: $blue;
		text-decoration: none;
		transition: .4s;
		color:$darkGray;
		padding: 5px 50px 5px 10px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			right: 15px;
			top: 49%;
			transform:translateY(-50%);
			width:auto;
			height: 100%;
			color:$darkGray;
			padding-left: 24px;
			border-left:4px solid white;
			transition: .4s;
		}

		&:after {
			content: '\f067';
			font-family:fontAwesome;
			position: absolute;
			font-size: 14px;
			right: 15px;
			top: 50%;
			transform:translateY(-50%);
			line-height:1;
			width:auto;
			height: auto;
			color:$darkGray;
			padding-left: 10px;
			transition: .4s;
		}



		&[aria-expanded="true"] {
			background-color: $beige;

			&:after {
				content: '\f068';
			}
		}
	}

	.help-answer {
		padding:10px 10px;
	}
}