#page-hero {

    .learn-more {
        position: absolute;
        top:auto;
        bottom:20px;
        left: 50%;
        transform: translateX(-50%);
        color:white;
        text-align: center;

        i {
            color:white !important;
            font-size: 24px;
        }
    }
}

#how-it-works {
    padding: 50px 0 60px;

    .fb {
        position: relative;

        @media only screen and (max-width: 767px) {
            padding-left: 65px;
            padding-right: 15px;
            margin-bottom: 30px;
        }

        @media only screen and (min-width: 767px) {
            padding-left: 65px;
            padding-right: 15px;
            margin-bottom: 30px;
        }

        @media only screen and (min-width: 992px) {
            padding-left: 65px;
            padding-right: 15px;
            margin-bottom: 0;
        }

        @media only screen and (min-width: 1200px) {
            padding-left: 65px;
            padding-right: 15px;
            margin-bottom: 0;
        }

        &:before {
            position: absolute;
            top: 0;
            font-size: 18px;
            width: 30px;
            height: 30px;
            text-align: center;
            color: white;
            border: 2px solid white;
            border-radius: 50%;

            @media only screen and (max-width: 767px) {
                left: 15px;
            }

            @media only screen and (min-width: 767px) {
                left: 15px;
            }

            @media only screen and (min-width: 992px) {
                left: 15px;
            }

            @media only screen and (min-width: 1200px) {
                left: 15px;
            }
        }

        &:nth-of-type(1) {
            &:before {
                content: '1';
            }
        }

        &:nth-of-type(2) {
            &:before {
                content: '2';
            }
        }

        &:nth-of-type(3) {
            &:before {
                content: '3';
            }
        }
    }

}

#why-choose-us {
    padding: 50px 0 50px;
    background-image: url("../img/bg-why-choose-us.jpg");
    background-size: auto 100%;
    background-repeat:no-repeat;

    @media only screen and (max-width: 767px) {
        background-position: -160px 0;
    }

    @media only screen and (min-width: 767px) {
        background-position: 100px 0;
    }

    @media only screen and (min-width: 992px) {
        background-position: right center;
    }


    @media only screen and (min-width: 1200px) {
        background-position: right center;
    }

    h3 {
        margin-bottom: 0;
    }

    ul.list-group {
        margin-bottom: 0px;
        background-color: transparent !important;

        li {
            background-color: transparent !important;

            i {
                margin-right: 10px;
                font-size: 18px;
            }
        }
    }

}