.service_search {
	height: 380px;
	margin-bottom: 30px;

	.service_search-container {
		position: relative;
		height: 100%;
		background-color: $blue;
		border-radius: 4px;
		padding: 15px;

		input {
			text-transform: uppercase;

			&.btn {
				text-transform: lowercase;
				position: absolute;
				top: auto;
				left: 50%;
				bottom:20px;
				width: 90%;
				transform: translateX(-50%);
			}
		}
	}
}

.paginate-service_search {
	height: 350px;
	margin-bottom: 30px;
	//position: relative;

	.paginate-service_search-container {
		position: relative;
		height: 100%;
		background-color: $beige;
		border-radius: 4px;
		padding: 15px;
	}
}

