footer {
    background: url("../img/bg-block.png") repeat top $darkGray;
    padding-top: 40px;

    .footer-top {
        padding-top: 10px;
        color: white;

        h5 {
            font-size:18px;
        }

        hr {
            width: 100px;
            border-color: white;
            position: relative;
            margin:5px 0 10px;
        }

        p {
            font-size: 14px;

            a {
                color:white;
                text-decoration: none;
            }
        }

        .btn-clear {
            color:white;
            text-decoration: none;
            font-size: 14px;
            margin-top: 10px;
            
            &:hover {
                color:white;
                text-decoration: underline;
            }
        }

        ul {
            margin-top: 40px;
            margin-bottom: 20px;
            //margin-bottom: 0;

            &>li {
                font-size: 14px;
                margin-bottom: 20px;

                a {
                    color:white;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        ul.social {
            margin-top: 0px;

            &>li {
                margin-bottom: 0;
                float: left;
                width: 28px;
                height: 28px;
                background-color: white;
                position: relative;
                margin-right:15px;
                border-radius: 50%;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    i {
                        position: absolute;
                        top: 52%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color:$darkGray;
                        font-size:18px;
                    }
                }

                &:hover {
                    background-color: $blue;

                    a {
                        i {
                            //color:white;
                        }
                    }
                }
            }
        }

    }

    .footer-bottom {
        padding: 80px 0 20px;

        h6 {
            color: white;
            font-weight: 600;
            font-size:12px;

            @media only screen and (max-width: 767px) {
                text-align: left;
            }

            @media only screen and (min-width: 767px) {
                text-align: left;
            }

            @media only screen and (min-width: 992px) {
                text-align: right;
            }

            @media only screen and (min-width: 1200px) {
                text-align: right;
            }

            a {
                color:white;
                text-decoration: underline;
            }
        }
    }

    // Override ul in main section
    ul {
        padding-left: 0;
        list-style-type:none;
    }
}

#login-modal {

    .modal-dialog {
        @media only screen and (max-width: 767px) {
            width: auto;
        }

        @media only screen and (min-width: 767px) {
            width: 400px;
        }

        @media only screen and (min-width: 992px) {
            width: 350px;
        }

        @media only screen and (min-width: 1200px) {
            width: 350px;
        }

        .modal-content {
            border-radius: 0;
            position: relative;

            .modal-header {
                border-bottom: none;
                padding:5px 8px 0;

                button.close {
                    margin-top: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .modal-body {
                padding-top: 0;

                button.close {
                    margin-top: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                ul.nav {
                    margin-left: -15px;
                    margin-right: -15px;

                    &.nav-tabs {
                        border-bottom:1px $lightGray solid;

                        li {
                            display: inline-block;
                            width: 50%;
                            text-align: center;
                            border:none;
                            border-radius: 0;

                            a {
                                border:none;
                                text-decoration: none;
                                color: $darkGray;
                                border-radius: 0;
                                margin-right: 0;
                                padding: 15px;
                                text-transform: uppercase;

                                &:hover {
                                    background-color:$blue;
                                }
                            }

                            &.active {
                                background-color: $lightGray;

                                a {
                                    background-color: $lightGray;
                                    text-decoration: none;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                h4 {
                    margin-bottom: 0;
                    margin-top: 0;
                    text-align: center;
                    font-weight: thin;
                }

                hr {
                    width: 40%;
                    border-color: #000;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }

                input.form-control {
                    background-color: $lightGray;
                    box-shadow: none;
                    border-radius: 0;
                }

                .small {
                    margin-bottom: 0;
                    padding-right: 0;
                    padding-left: 0;
                    font-size: 12px;
                }

            }
        }

    }

}