header {
	z-index: 10;
	position: relative;

	.navbar {
		border-radius: 0px;
		margin-bottom: 0px;
		padding: 10px 0;

		.container, .container-fluid {
			.navbar-header {
				width: 30%;

				@media only screen and (max-width: 767px) {
					width: auto;
				}

				.navbar-brand {
					display: block;
					height: auto;
					margin-left: 0px;
					width: 150px;
					padding: 0px 0;

					@media only screen and (max-width: 767px) {
						padding: 5px 0px;
						width: 150px;
					}

					img.logo {
						opacity: 1;
						width: 100%;

						@media only screen and (max-width: 767px) {
							//width: 250px;
						}
					}
				}
			}
		}
	}

	.navbar-default {
		min-height: 10px;
		border: none;
		background-color: $darkGray;
		background: url("../img/bg-block.png") repeat $darkGray top;

		#menu {
			position: relative;
			padding: 0;

			.navbar-nav {

				li {
					padding: 7px 0;

					a {
						color: $white;
						transition: .4s all;
						padding: 0px 20px;
						font-size: 14px;
						border-right: 1px solid white;
						text-decoration: none;

						&:hover, &:focus, &:active {
							color: $lightGray;
							text-decoration: underline;
						}

						&.btn-blue-header {
							padding: 4px 15px !important;
							color: $darkGray;
							font-weight: bold;
							font-size: 14px;
							background-color: $blue;
							border: 2px solid $blue !important;
							border-radius: 20px !important;
							text-decoration: none !important;

							&:hover, &:focus, &:active {
								background-color: transparent;
								color: white;
								text-decoration: none;
							}
						}
					}

					&.last-child {
						padding-top: 0 !important;
					}

					&.active {
						background-color: transparent;

						a {
							background-color: transparent;
							color: white;
							text-decoration: underline;

							&:hover {
								background-color: transparent;
								color: white;
								text-decoration: underline;
							}
						}

					}

				}
			}

			@media only screen and (max-width: 767px) {
				position: absolute;
				transition: .4s all;
				left: -100%;
				top: 0;
				width: 100%;
				height: 100vh;
				padding: 10px 0 0;
				overflow-y: scroll;
				background-color: $darkGray;
				background: url("../img/bg-block.png") repeat $darkGray top;

				&.active {
					left: 0;
				}

				.menu-logo {
					padding-left: 15px;
					width: 180px;
				}

				.navbar-nav {
					border-top: 1px solid white;
					margin-top: 15px;
					padding-top: 0;

					li {
						padding: 0;
						margin-bottom: 0px;

						&.active {
							text-decoration: none;

							a {
								text-decoration: none;
								font-weight: bold;

								&:hover {
									text-decoration: none;
								}
							}
						}

						a {
							padding: 15px 15px;
							font-size: 18px;
							border: none;
							text-decoration: none;

							&:hover {
								text-decoration: none;
								background-color: $beige;
								color: $darkGray;
							}

							&.btn-blue-header {
								padding: 10px !important;
								border-radius: 0 !important;
								text-transform: uppercase;
								margin-top: 0px;

								&:hover, &:focus, &:active {
									background-color: $blue;
									color: $darkGray;
								}
							}
						}

					}
				}
			}
		}

		.navbar-right {
			margin-top: 9px;
		}
	}
}