main {
    background-color: $white;

    section {
        padding: 50px 0;

        &#page-hero {
            position: relative;
            padding: 220px 0;

            h2 {
                color: white;
                font-size: 65px;
                margin-bottom: 0;
                line-height: 1;
            }

            hr {
                width: 250px;
                border-width: 2px;
                margin: 10px auto 30px;
            }

            p {
                color: white;
                width: 80%;
                position: relative;
                margin: auto;
                font-size: 16px;
                margin-bottom: 30px;
            }
        }
    }
}