// Nav Toggle
@media only screen and (max-width:767px) {
	.navbar-nav {
		margin:0px 0px;
	}

	.navbar-default {
		.navbar-toggle {
			position: relative;
			z-index:9999999;
			border:none;
			background-color:transparent;
			border-radius: 0px;
			margin-right:10px;
			margin-top:18px;
			margin-bottom:0px;
			padding:0px 0px;
			display: block;
			transition:all 0.4s ease-in-out;

			.icon-bar+.icon-bar {
				margin-top: 4px;
			}

			.icon-bar {
				background-color: white;
				display: block;
				width: 26px;
				height: 2px;
				border-radius: 11px;
				position: relative;
				transition:all 0.4s ease-in-out;
				&:nth-of-type(2) {
					top: 1px;
				}

				&:nth-of-type(3) {
					top: 2px;
					margin-bottom:1px;
				}
			}

			&.active {
				.icon-bar {
					&:nth-of-type(1) {
						top: 7px;
						transform:rotate(45deg);
					}
					&:nth-of-type(2) {
						background-color: transparent;
						transition:all 0.1s ease-in-out;
					}
					&:nth-of-type(3) {
						top: -5px;
						transform:rotate(-45deg);
					}
				}
			}

			&:hover, &:focus {
				background-color:transparent;
			}
		}

		.navbar-collapse {
			padding:0px;
			border:none;
			box-shadow: none;
			margin:10px -15px 0;
			background-color:$white;
		}
	}
}