.navbar-default {
	background-color: transparent !important;
	background-image: none !important;
}

#home-hero {
	position: relative;
	padding: 280px 0;
	background: url('../img/bg-home.jpg') center no-repeat;
	background-size: cover;
	top: -70px;

	@media only screen and (max-width: 767px) {
		top: -130px;
	}

	input {
		width: 100%;
		text-transform: uppercase;
	}

	.btn-blue {
		box-shadow: none;
		padding: 6px 0;
	}
}

main {
	position: relative;
	//max-height:524px;

	section + section {
		margin-top: -70px;

		@media only screen and (max-width: 767px) {
			margin-top: -225px;
		}
	}
}